<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="POST"
      th:action="@{/books/search}">
    <label for="bookName">Введите поисковый запрос: </label>
    <input type="text" th:name="bookName" id="bookName">
    <br/>
    <input type="submit" value="Искать"/>
</form>

<div th:if="${findBook}">
    <div th:if="${findBook.isEmpty()}">
        <span>Книг не найдено</span>
    </div>

    <div th:each="book : ${findBook}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Книга сейчас у: </span>
            <span th:text="${book.getOwner().getFullName()}">Person Name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Книга свободна</span>
        </div>

        <hr/>

    </div>
</div>
</body>
</html>